@import "~../../master.less";

.logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;

    @media @mid-breakpoint {
        width: auto;
    }
}

nav {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 2rem auto 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: .75rem 0;

    ul {
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;

        li {
            float: none;
            position: relative;
            display: block;
            padding: .5rem;

            @media @mobile-extended-breakpoint {
                float: left;
            }

            a {
                color: #363636;
                text-transform: uppercase;
                padding: .5rem 1rem;
                height: 35px;

                &:hover, &:focus {
                    font-weight: bold;
                }
            }
        }
    }
}