<div class="container">
	<a href="/"><img src="/assets/St-Paul-Logo_500px.png" alt="St. Paul Lutheran Church and School - Wisconsin Evangelical Lutheran Synod" class="logo"></a>
	<nav>
		<ul>
			<li><a href="http://www.stplspartans.net/" target="_blank">Christian Day School</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</nav>
</div>