<app-header></app-header>

<main class="container">
    <section class="flex">
        <div class="left col-6">
            <img src="/assets/church-1024x696.jpg" alt="Photo of St. Paul Lutheran Church in Bloomer, Wisconsin" class="church-photo">
        </div>
        <div class="right col-4">
            <app-worship-times></app-worship-times>
        </div>
    </section>
    <section class="flex">
        <div class="left col-6">
            <hr>
            <p>Located in downtown Bloomer, Wisconsin</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2816.1531115724924!2d-91.48970814825608!3d45.102964165391576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52acb70004fe32df%3A0x38d07829b4fe888!2s1319+Larson+St%2C+Bloomer%2C+WI+54724!5e0!3m2!1sen!2sus!4v1466896621678" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div class="right col-4">
            <app-calendar></app-calendar>
        </div>
    </section>
</main>
