@import "~../master.less";

main.container {
    padding-top: .5rem;
}

iframe {
    width: 100%;
    height: 400px;
}

.church-photo {
    display: block;
    margin: 0 auto;
    width: 100%;
}

p {
    margin: 0 0 1rem;
}