/**********************
BREAKPOINTS
***********************/

@full-breakpoint: ~"print, screen and (min-width: 75em)"; // 1200px
@tablet-full-breakpoint: ~"print, screen and (min-width: 68.75em)"; // 1100px
@tablet-extended-breakpoint: ~"print, screen and (min-width: 60em)"; // 960px
@tablet-breakpoint: ~"print, screen and (min-width: 51em)"; // 816px
@mid-breakpoint: ~"print, screen and (min-width: 41em)"; // 656px
@mobile-extended-breakpoint: ~"print, screen and (min-width: 31em)"; // 496px

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    padding: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: block;

    @media @tablet-breakpoint {
        display: flex;
    }

    .left {
        margin-bottom: 1.5rem;

        @media @tablet-breakpoint {
            float: left;
            margin: 0 1.5rem 0 0;
        }

        &.col-6 {
            @media @tablet-breakpoint {
                flex: 6;
            }
        }
    }

    .right {
        margin-top: 1.5rem;

        @media @tablet-breakpoint {
            margin: 0 0 0 1.5rem;
        }

        &.col-4 {
            @media @tablet-breakpoint {
                flex: 4;
            }
        }
    }
}

hr {
    margin: 1.5rem 0;
    border-top: 1px solid #CCC;
}