<ul>
    <li *ngFor="let calendar of (calendar | async); let i = index;">
		<h3>{{calendar.calendarId}}</h3>
		<ul>
			<li *ngFor="let event of calendar.events">
				{{event.eventData.title}}<br>
				{{event.eventData.time}}
			</li>
		</ul>
    </li>
</ul>