@import "~../../master.less";

h1 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;
}

h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 1rem 0 .5rem;
}

p {
    font-size: 1.5rem;
    margin: 0 0 .5rem;
    font-weight: 100;
}